<footer class="site-footer">

    <a href="#top" class="smoothscroll scroll-top">
      <span class="icon-keyboard_arrow_up"></span>
    </a>
  
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <p class="copyright">
            "This website was created in accordance with 공대구호관"
          </p>
        </div>
      </div>
  
      <div class="row text-center">
        <div class="col-12">
          <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
              <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- SCRIPTS -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/stickyfill.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>

<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/bootstrap-select.min.js"></script>

<script src="js/custom.js"></script>

<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/execute-datepicker.js"></script> 
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/execute-timepicker.js"></script>