<!doctype html>
<html lang="en">

  <%- include('./partials/head.ejs')%>
    
    <!-- NAVBAR -->
    <%- include('./partials/navybar.ejs')%>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
      id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">실시간 관제</h1>
            <div class="custom-breadcrumbs">
              <span class="text-white"><strong>&nbsp;울산항만공사</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="next">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">실시간 관제 요청 목록</h2>
          </div>
        </div>

        <ul class="job-listings mb-5">
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-3">
            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position col-md-2 col-sm-4">
                <h2 class="listing_font_style">입/출항</h2>
              </div>
              <div class="job-listing-position col-md-2 col-sm-4">
                <h2 class="listing_font_style">선박명</h2>
              </div>
              <div class="job-listing-position col-md-2 col-sm-4">
                <h2 class="listing_font_style">입/출항 시간</h2>
              </div>
              <div class="job-listing-position col-md-2 col-sm-4">
                <h2 class="listing_font_style">특이사항</h2>
              </div>
              <div class="job-listing-position col-md-2 col-sm-4">
                <h2 class="listing_font_style">응답사항</h2>
              </div>
              <div class="job-listing-position col-md-2 col-sm-4">
                <h2 class="listing_font_style">확인</h2>
              </div>
            </div>
          </li>

          <form name="real-time" method="POST">
            <li class="job-listing d-block d-sm-flex pb-3 pb-sm-3">
              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                <div class="job-listing-position col-md-2 col-sm-4">
                  <h2 class="listing_font_style2">입항</h2>
                </div>
                <div class="job-listing-position col-md-2 col-sm-4">
                  <h2 class="listing_font_style2">온누리호</h2>
                </div>
                <div class="job-listing-position col-md-2 col-sm-4">
                  <h2 class="listing_font_style2">09:24</h2>
                </div>
                <div class="job-listing-position col-md-2 col-sm-4" style="text-align: center;">
                  <input type="text" name="특이사항" value="" style="width:140px">
                </div>
                <div class="job-listing-position col-md-2 col-sm-4" style="text-align: center;">
                  <input type="text" name="특이사항" value="" style="width:140px">
                </div>
                <div class="job-listing-position col-md-2 col-sm-4" style="text-align: center;">
                  <button class="badge badge-success" type="submit" value="저장">저장</button>
                  <button class="badge badge-danger" type="submit" value="반려">반려</button>
                </div>
              </div>
            </li>
          </form>

          <form name="real-time" method="POST">
            <li class="job-listing d-block d-sm-flex pb-3 pb-sm-3">
              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                <div class="job-listing-position col-md-2 col-sm-4">
                  <h2 class="listing_font_style2">출항</h2>
                </div>
                <div class="job-listing-position col-md-2 col-sm-4">
                  <h2 class="listing_font_style2">창묵호</h2>
                </div>
                <div class="job-listing-position col-md-2 col-sm-4">
                  <h2 class="listing_font_style2">09:26</h2>
                </div>
                <div class="job-listing-position col-md-2 col-sm-4" style="text-align: center;">
                  <input type="text" name="특이사항" value="" style="width:140px">
                </div>
                <div class="job-listing-position col-md-2 col-sm-4" style="text-align: center;">
                  <input type="text" name="특이사항" value="" style="width:140px">
                </div>
                <div class="job-listing-position col-md-2 col-sm-4" style="text-align: center;">
                  <button class="badge badge-success" type="submit" value="저장">저장</button>
                  <button class="badge badge-danger" type="submit" value="반려">반려</button>
                </div>
              </div>
            </li>
          </form>
        </ul>
      </div>
    </section>

    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <p class="copyright">
              "This website was created in accordance with 공대구호관"
            </p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>
    
  </div>

  <!-- SCRIPTS -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/stickyfill.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>

  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>

  <script src="js/bootstrap-select.min.js"></script>

  <script src="js/custom.js"></script>


</body>

</html>